body{
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
}

ul,
nav{
    margin:0;
    
    background-color: #1F2937;
    padding-top: 12px;
    color: #F9FAF8;
    padding-left: 0;
    padding-right:0;
    
}

ul {
    
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 16px;
    
}

li a{
    text-decoration: none;
    color: #F9FAF8;
    
}

li.Logo {
    font-size: 24px;
    margin-right:auto;
    
}

div.container {
    max-width:1000px;
    width:900px;
    margin: auto;
}

.media{
    background-color: #1F2937;
    padding: 40px;
}

div.media .container{
    display: flex;
    
    max-width:1000px;
    width:900px;
    justify-content: space-between;
    gap:12px;
    
    
}

image{
    max-width: 100%;
    display:block;
}

.content {
    font-size: 48px;
    color: #F9FAF8;
    
}

p{
    font-size:16px;
}

button{
    background-color: #3882F6;
    color: white;
    font-weight:700;
    font-size: 16px;
    border-radius: 10px;
    padding: 12px 24px;
    border:2px solid black;
}

div.info .container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:36px;
    align-items:flex-start;
}

.info img{
    width:160px;
    height:160px;
    border-radius: 15px;
    margin-bottom: 0px;
    

}

.info p{
    max-width: 160px;
    height:auto;
    text-align: center;
    margin-top:0;
    
}


h1{
    text-align: center;
    
}
